In [0]:
from sklearn import datasets
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [0]:
raw_data = datasets.load_wine()

In [29]:
features = pd.DataFrame(data=raw_data['data'],columns=raw_data['feature_names'])
data = features
data['target']=raw_data['target']
data['class']=data['target'].map(lambda ind: raw_data['target_names'][ind])
data.head()

   alcohol  malic_acid   ash  ...  proline  target    class
0    14.23        1.71  2.43  ...   1065.0       0  class_0
1    13.20        1.78  2.14  ...   1050.0       0  class_0
2    13.16        2.36  2.67  ...   1185.0       0  class_0
3    14.37        1.95  2.50  ...   1480.0       0  class_0
4    13.24        2.59  2.87  ...    735.0       0  class_0

[5 rows x 15 columns]

In [0]:
samples = np.array(data[['total_phenols','od280/od315_of_diluted_wines']])

In [0]:
from sklearn.decomposition import PCA

In [0]:
model = PCA()

In [33]:
model.fit(samples)

PCA(copy=True, iterated_power='auto', n_components=None, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [0]:
transformed = model.transform(samples)

In [38]:
model.explained_variance_ratio_

array([0.85283125, 0.14716875])

In [0]:
pca = PCA(n_components=2)

In [0]:
iris = datasets.load_iris()

In [0]:
features = pd.DataFrame(data=iris['data'],columns=iris['feature_names'])

In [0]:
samples1  = np.array(features[['sepal length (cm)',	'sepal width (cm)',	'petal length (cm)',	'petal width (cm)']])

In [0]:
pca = PCA(n_components=3)

In [48]:
pca.fit(samples1)

PCA(copy=True, iterated_power='auto', n_components=3, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [0]:
transformed = pca.transform(samples1)

In [0]:
import matplotlib.pyplot as plt