FGV - EMAp - Escola de Matemática Aplicada
==
Introdução à Programação com a Linguagem Python
--

## [Tipos padrão do Python](https://realpython.com/python-data-types/):

### O que são tipos?

Tipos são classificações de dados que em Python são objetos. Dessa forma um objeto de determinado tipo possui as propriedades (métodos/funções e atributos) específicos do tipo.  
Podemos descobrir o tipo de cada objeto usando o comando:  
      _type(objeto)_

### Tipos Numéricos:
Em Python (3.x) os tipos numéricos são divididos em três classes: os inteiros (int), os pontos flutuantes (float) e os complexos (complex).

In [1]:
a = 12

Usando uma função [_bultin_](https://docs.python.org/3/library/functions.html) para descobrir o tipo de uma variável:

In [2]:
type(a)

int

In [3]:
b = 2.7

In [4]:
type(b)

float

Métodos de tipos de dados:

In [5]:
b.is_integer()

False

In [6]:
c = 3 + 1j

In [7]:
type(c)

complex

In [8]:
c.conjugate()

(3-1j)

#### Operações com tipos numéricos:

In [9]:
print(9 + 8) # Soma.
print(12 - 34) # Subtração.
print(12 * 3) # Multiplicação.
print(34 / 23) # Divisão.
print(3 ** 5) # Exponenciação.
print(9 ** 0.5) # Radiciação.
print(501 % 10) # resto da divisão

17
-22
36
1.4782608695652173
243
3.0
1

In [10]:
a = 23.
print(type(a))

<class 'float'>

In [11]:
b = 2 + 3j
print(type(b))

<class 'complex'>

In [12]:
c = a + b
print(type(c))

<class 'complex'>

##### Operações com > (maior), < (menor), >= (maior ou igual) e <= (menor ou igual)

In [13]:
c = 2.5
d = 4
c > d

False

In [14]:
c = 2.5
d = 4
c <= d

True

In [15]:
c = 1 + 3j
d = 2 + 4j
# c > d  # operação não suportada

##### Operação de igualdade (==) e desigualdade (!=)

In [16]:
c == d

False

In [17]:
d != c

True

### Tipo Lista:
Listas são sequências ordenadas de itens (não necessariamente do mesmo tipo) que são postos entre colchetes e separados por vírgula. Uma característica que faz com que as listas sejam tão utilizadas é a mutabilidade, isto é, seus elementos podem ser alterados.

In [18]:
lista = [1,2,2, [2,3,4], 3.9, 4, 2.8,'uma string']

In [19]:
lista

[1, 2, 2, [2, 3, 4], 3.9, 4, 2.8, 'uma string']

##### Acessando elementos da lista

obs.: O primeiro elemento possui índice 0.

In [20]:
lista[3]

[2, 3, 4]

In [21]:
lista[3][2]

4

In [22]:
lista[-1]

'uma string'

##### Adicionando novos elementos

In [23]:
seu_novo_nome = [2,6,3,8]

In [24]:
seu_novo_nome.append(23)

In [25]:
seu_novo_nome

[2, 6, 3, 8, 23]

#### Removendo elementos de uma lista

In [26]:
seu_novo_nome.pop()

23

In [27]:
seu_novo_nome

[2, 6, 3, 8]

#### Inserindo listas e elementos

In [28]:
seu_novo_nome

[2, 6, 3, 8]

In [29]:
seu_novo_nome.append(4)

In [30]:
seu_novo_nome.extend([0,7,3])

In [31]:
seu_novo_nome

[2, 6, 3, 8, 4, 0, 7, 3]

In [32]:
seu_novo_nome.append([9,9])

In [33]:
seu_novo_nome.insert(2,5678)

In [34]:
seu_novo_nome

[2, 6, 5678, 3, 8, 4, 0, 7, 3, [9, 9]]

In [35]:
seu_novo_nome.pop()

[9, 9]

In [36]:
seu_novo_nome.sort() #Colocando em ordem
seu_novo_nome

[0, 2, 3, 3, 4, 6, 7, 8, 5678]

#### Acessando elementos

In [37]:
nova2 = [[[2,1],7,9,3,3,2,[2,6]],4,5,7]

In [38]:
nova2[0]

[[2, 1], 7, 9, 3, 3, 2, [2, 6]]

In [39]:
nova2[0].index(2)

5

In [40]:
len(nova2) #len() serve para dar o tamanho do objeto

4

In [41]:
nova2[0].count(3)

2

In [42]:
nova2[0][3]

3

In [43]:
nova2.index(4)

1

In [44]:
nova2.reverse()
print(nova2)

[7, 5, 4, [[2, 1], 7, 9, 3, 3, 2, [2, 6]]]

In [45]:
nova_lista = [1,2,3,4,5,6]

In [46]:
nova_lista[2]

3

In [47]:
nova_lista[2:5]

[3, 4, 5]

In [48]:
nova_lista[-2]

5

### Tipo String:
Strings são sequências de caracteres dispostos, necessariamente, entre aspas simples ou duplas.

In [49]:
s1 = 'uma string'
s2 = "outra string"

In [50]:
print(s1)

uma string

In [51]:
s1

'uma string'

In [52]:
s2

'outra string'

In [53]:
s3 = "let's go to the classroom"
s3

"let's go to the classroom"

In [54]:
s4 = "nesta string eu tenho aspas simples (') e aspas duplas(\")"

In [55]:
s4

'nesta string eu tenho aspas simples (\') e aspas duplas(")'

In [56]:
print(s4)

nesta string eu tenho aspas simples (') e aspas duplas(")

In [57]:
s5 = 'let\'s stress'
s5

"let's stress"

#### Concatenando strings

In [58]:
s1+s2

'uma stringoutra string'

In [59]:
s1+' '+s2

'uma string outra string'

In [60]:
print('um comando' + ' ' + 'que ocupe' + ' ' + 'duas ou mais linhas')

um comando que ocupe duas ou mais linhas

In [61]:
s6 = 'RIO - Brasília fechou 2015 com uma inflação de 11,95%, segundo o Índice de Preços \
ao Consumidor Semanal (IPC-S), medido pela Fundação Getulio Vargas (FGV). Entre as sete \
capitais pesquisadas pela FGV, a capital federal foi a que teve a maior alta de preços. \
Em 2014, Brasília havia registrado uma taxa de inflação de 6,74%.'

In [62]:
s6

'RIO - Brasília fechou 2015 com uma inflação de 11,95%, segundo o Índice de Preços ao Consumidor Semanal (IPC-S), medido pela Fundação Getulio Vargas (FGV). Entre as sete capitais pesquisadas pela FGV, a capital federal foi a que teve a maior alta de preços. Em 2014, Brasília havia registrado uma taxa de inflação de 6,74%.'

In [63]:
print(s6)

RIO - Brasília fechou 2015 com uma inflação de 11,95%, segundo o Índice de Preços ao Consumidor Semanal (IPC-S), medido pela Fundação Getulio Vargas (FGV). Entre as sete capitais pesquisadas pela FGV, a capital federal foi a que teve a maior alta de preços. Em 2014, Brasília havia registrado uma taxa de inflação de 6,74%.

In [64]:
s7 = '''
RIO - Brasília fechou 2015 com uma inflação de 11,95%, 
segundo o Índice de Preços ao Consumidor Semanal (IPC-S), 
medido pela Fundação Getulio Vargas (FGV). 
Entre as sete capitais pesquisadas pela FGV, a capital federal foi 
a que teve a maior alta de preços. Em 2014, Brasília havia registrado 
uma taxa de inflação de 6,74%.
'''

In [65]:
s7

'\nRIO - Brasília fechou 2015 com uma inflação de 11,95%, \nsegundo o Índice de Preços ao Consumidor Semanal (IPC-S), \nmedido pela Fundação Getulio Vargas (FGV). \nEntre as sete capitais pesquisadas pela FGV, a capital federal foi \na que teve a maior alta de preços. Em 2014, Brasília havia registrado \numa taxa de inflação de 6,74%.\n'

In [66]:
print(s7)

RIO - Brasília fechou 2015 com uma inflação de 11,95%,
segundo o Índice de Preços ao Consumidor Semanal (IPC-S),
medido pela Fundação Getulio Vargas (FGV).
Entre as sete capitais pesquisadas pela FGV, a capital federal foi
a que teve a maior alta de preços. Em 2014, Brasília havia registrado
uma taxa de inflação de 6,74%.

In [67]:
texto = 'uma linha \noutra linha'
print(texto)

uma linha
outra linha

In [68]:
s4

'nesta string eu tenho aspas simples (\') e aspas duplas(")'

#### Contando o número de aparições de um caracter

In [69]:
s4.count('a')

6

#### Modificando caracteres

In [70]:
s4 = s4.replace('a','@')

In [71]:
s4

'nest@ string eu tenho @sp@s simples (\') e @sp@s dupl@s(")'

#### Encontrando a posição da palavra

In [72]:
s4.find('simples')

28

In [73]:
s4[6]

's'

In [74]:
s4[28:]

'simples (\') e @sp@s dupl@s(")'

In [75]:
s4[s4.find('string'):s4.find('simples')+len('simples')]

'string eu tenho @sp@s simples'

In [76]:
s4[6:35]

'string eu tenho @sp@s simples'

#### Fazendo mais elegantemente

In [77]:
inicio = s4.find('string')
fim = s4.find('simples')+len('simples')
s4[inicio:fim]

'string eu tenho @sp@s simples'

In [78]:
a = 12
b = int('12')
a + b

24

In [79]:
c = str(12)
d = '12'
c + d

'1212'

In [80]:
c.isdigit()

True

In [81]:
x = 0xFFF
x

4095

In [82]:
y = 0b111110001
y

497

In [83]:
z = 0o777321
z

261841

In [84]:
0b11111111

255

### Tipo Booleano:
Serve para criação de estruturas lógicas e criação de condicionais retornando somente True ou False. True e False são algumas das [constantes _bultin_](https://docs.python.org/3/library/constants.html)

In [85]:
'RENATO'.isupper()

True

In [86]:
b1 = True

In [87]:
b2 = False

In [88]:
b1 == b2

False

In [89]:
2 == 5

False

In [90]:
type(2 == 7)

bool

In [91]:
4 != 5

True

In [92]:
if (9 > 10) and (2 == (1 + 1)) and (7 <= 8):
    print('Correto')
if x == 4095:
    print('Legal')
else:
    print('chato')
print('novo bloco')

Legal
novo bloco

### Tipo Conjunto (sets):
Set são sequências nãoordenada de itens únicos. Os itens são postos entre chaves e separados por vírgula.

In [93]:
c1 = {1,2,3,3,3,3,3,4}

In [94]:
c1

{1, 2, 3, 4}

In [95]:
c2 = set([1,2,3,4,1,2])

In [96]:
c2

{1, 2, 3, 4}

In [97]:
lista3 = [1,2,3,'string']

In [98]:
conjunto = set(lista3)

In [99]:
conjunto

{1, 2, 3, 'string'}

In [100]:
conjunto2 = conjunto.union([9,8,7])

In [101]:
conjunto2

{1, 2, 3, 7, 8, 9, 'string'}

In [102]:
conjunto.intersection(conjunto2)

{1, 2, 3, 'string'}

In [103]:
lista3 = list(conjunto)

In [104]:
conjunto4 = set('uma string legal')

In [105]:
conjunto4

{' ', 'a', 'e', 'g', 'i', 'l', 'm', 'n', 'r', 's', 't', 'u'}

In [106]:
print(len('uma string legal'))
print(len(set('uma string legal')))

16
12

In [107]:
texto = '''
Nosso pai era homem cumpridor, ordeiro, positivo; e sido assim desde mocinho e menino, pelo que testemunharam as diversas sensatas pessoas, quando indaguei a informação. 
Do que eu mesmo me alembro, ele não figurava mais estúrdio nem mais triste do que os outros, conhecidos nossos. Só quieto. Nossa mãe era quem regia, e que ralhava no diário 
com a gente — minha irmã, meu irmão e eu. Mas se deu que, certo dia, nosso pai mandou fazer para si uma canoa. 
'''

In [108]:
texto

'\nNosso pai era homem cumpridor, ordeiro, positivo; e sido assim desde mocinho e menino, pelo que testemunharam as diversas sensatas pessoas, quando indaguei a informação. \nDo que eu mesmo me alembro, ele não figurava mais estúrdio nem mais triste do que os outros, conhecidos nossos. Só quieto. Nossa mãe era quem regia, e que ralhava no diário \ncom a gente — minha irmã, meu irmão e eu. Mas se deu que, certo dia, nosso pai mandou fazer para si uma canoa. \n'

In [109]:
#texto = texto.replace('a','&&&&a')

In [110]:
lista_palavras = texto.split()
lista_palavras

['Nosso',
 'pai',
 'era',
 'homem',
 'cumpridor,',
 'ordeiro,',
 'positivo;',
 'e',
 'sido',
 'assim',
 'desde',
 'mocinho',
 'e',
 'menino,',
 'pelo',
 'que',
 'testemunharam',
 'as',
 'diversas',
 'sensatas',
 'pessoas,',
 'quando',
 'indaguei',
 'a',
 'informação.',
 'Do',
 'que',
 'eu',
 'mesmo',
 'me',
 'alembro,',
 'ele',
 'não',
 'figurava',
 'mais',
 'estúrdio',
 'nem',
 'mais',
 'triste',
 'do',
 'que',
 'os',
 'outros,',
 'conhecidos',
 'nossos.',
 'Só',
 'quieto.',
 'Nossa',
 'mãe',
 'era',
 'quem',
 'regia,',
 'e',
 'que',
 'ralhava',
 'no',
 'diário',
 'com',
 'a',
 'gente',
 '—',
 'minha',
 'irmã,',
 'meu',
 'irmão',
 'e',
 'eu.',
 'Mas',
 'se',
 'deu',
 'que,',
 'certo',
 'dia,',
 'nosso',
 'pai',
 'mandou',
 'fazer',
 'para',
 'si',
 'uma',
 'canoa.']

In [111]:
palavras_unicas = set(lista_palavras)

In [112]:
print(len(lista_palavras))
print(len(palavras_unicas))

81
71

In [113]:
' @ '.join(lista_palavras)

'Nosso @ pai @ era @ homem @ cumpridor, @ ordeiro, @ positivo; @ e @ sido @ assim @ desde @ mocinho @ e @ menino, @ pelo @ que @ testemunharam @ as @ diversas @ sensatas @ pessoas, @ quando @ indaguei @ a @ informação. @ Do @ que @ eu @ mesmo @ me @ alembro, @ ele @ não @ figurava @ mais @ estúrdio @ nem @ mais @ triste @ do @ que @ os @ outros, @ conhecidos @ nossos. @ Só @ quieto. @ Nossa @ mãe @ era @ quem @ regia, @ e @ que @ ralhava @ no @ diário @ com @ a @ gente @ — @ minha @ irmã, @ meu @ irmão @ e @ eu. @ Mas @ se @ deu @ que, @ certo @ dia, @ nosso @ pai @ mandou @ fazer @ para @ si @ uma @ canoa.'

In [114]:
import string

In [115]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [116]:
for punct in ['.','?','!']:
    texto = texto.replace(punct, '*****')
texto

'\nNosso pai era homem cumpridor, ordeiro, positivo; e sido assim desde mocinho e menino, pelo que testemunharam as diversas sensatas pessoas, quando indaguei a informação***** \nDo que eu mesmo me alembro, ele não figurava mais estúrdio nem mais triste do que os outros, conhecidos nossos***** Só quieto***** Nossa mãe era quem regia, e que ralhava no diário \ncom a gente — minha irmã, meu irmão e eu***** Mas se deu que, certo dia, nosso pai mandou fazer para si uma canoa***** \n'

In [117]:
texto.split('*****')

['\nNosso pai era homem cumpridor, ordeiro, positivo; e sido assim desde mocinho e menino, pelo que testemunharam as diversas sensatas pessoas, quando indaguei a informação',
 ' \nDo que eu mesmo me alembro, ele não figurava mais estúrdio nem mais triste do que os outros, conhecidos nossos',
 ' Só quieto',
 ' Nossa mãe era quem regia, e que ralhava no diário \ncom a gente — minha irmã, meu irmão e eu',
 ' Mas se deu que, certo dia, nosso pai mandou fazer para si uma canoa',
 ' \n']

In [118]:
string5 = 'uma string'
string5 += ' outro texto'

In [119]:
string5

'uma string outro texto'

### Tipo Dicionário:
Dicionários são sequências não ordenadas de itens na forma de pares key:values que se encontram dentro de chaves e separados por vírgula. Como value podemos usar objetos de qualquer tipo, já como key só podemos usar objetos de tipos imutáveis (strings, números ou tuplas).

In [120]:
dic = {'chave1':[1,2,3],'chave2':2,'outra chave':4,45:26, 'outro':23}
dic

{45: 26, 'chave1': [1, 2, 3], 'chave2': 2, 'outra chave': 4, 'outro': 23}

In [121]:
dic.update({2:3})

In [122]:
dic

{2: 3, 45: 26, 'chave1': [1, 2, 3], 'chave2': 2, 'outra chave': 4, 'outro': 23}

In [123]:
ficha = {'Peso':73, 'Altura':183, 'Idade':44, 'Nome':'Renato'}

In [124]:
ficha

{'Altura': 183, 'Idade': 44, 'Nome': 'Renato', 'Peso': 73}

In [125]:
ficha['Idade']

44

Exercício:  
Criar uma estrutura de dados para representar as notas de 3 avaliações (A1, A2 e AS) em três 
disciplinas (Matemática, História e Geografia)

In [126]:
boletim = {'Matemática':{'A1':9.0, 'A2':8.0,'AS':4.0},
           'História':{'A1':9.0, 'A2':8.0,'AS':4.0},
           'Geografia':{'A1':9.0, 'A2':8.0,'AS':4.0}}
boletim

{'Geografia': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'História': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'Matemática': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}}

In [127]:
boletim['Matemática']['A2']

8.0

In [128]:
boletim.items()

dict_items([('Matemática', {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}), ('História', {'A1': 9.0, 'A2': 8.0, 'AS': 4.0}), ('Geografia', {'A1': 9.0, 'A2': 8.0, 'AS': 4.0})])

In [129]:
'A2' in boletim['Matemática']

True

In [130]:
boletim['Matemática'].values()

dict_values([9.0, 8.0, 4.0])

In [131]:
boletim['Matemática']['AS'] = 10
boletim

{'Geografia': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'História': {'A1': 9.0, 'A2': 8.0, 'AS': 4.0},
 'Matemática': {'A1': 9.0, 'A2': 8.0, 'AS': 10}}

In [132]:
newdic = {}

In [133]:
newdic

{}

In [134]:
newdic['elemento1'] = 23

In [135]:
newdic

{'elemento1': 23}

In [136]:
newdic.update({'um':2})

In [137]:
newdic

{'elemento1': 23, 'um': 2}

In [138]:
newdic['um'] = 1

In [139]:
newdic

{'elemento1': 23, 'um': 1}

In [140]:
d2 = {}
d1 = {1:d2}
d2 = {2:d1}

In [141]:
d1

{1: {}}

In [142]:
d2

{2: {1: {}}}

In [143]:
d2[2][1] = 'outra coisa'

In [144]:
d1[2] = 'outro elemento'

In [145]:
d2

{2: {1: 'outra coisa', 2: 'outro elemento'}}

In [183]:
print(boletim['Geografia'])
print(sorted(boletim['Geografia']))
print(sorted(boletim['Geografia'].items()))
print(sorted(boletim['Geografia'].items(), key = lambda x:x[1]))

{'A1': 9.0, 'A2': 8.0, 'AS': 4.0}
['A1', 'A2', 'AS']
[('A1', 9.0), ('A2', 8.0), ('AS', 4.0)]
[('AS', 4.0), ('A2', 8.0), ('A1', 9.0)]

### Tipo Tupla:
Tuplas, assim como listas, são sequências ordenadas de itens. As diferenças entre elas são: os elementos estão entre parênteses e as tuplas são imutáveis, seus elementos não podem ser modificados.

In [146]:
t = (1,2,3,4,7,4,3,1,'string',{1,2}, [1,2])

In [147]:
type(t)

tuple

In [148]:
t[0]

1

In [149]:
t[5]

4

In [150]:
t[3:6]

(4, 7, 4)

In [151]:
lista = [1,2,3]

In [152]:
tupla = tuple(lista)

In [153]:
tupla

(1, 2, 3)

In [154]:
lista2 = list(tupla)

In [155]:
lista2

[1, 2, 3]

In [156]:
d5 = {(1,2):'tupla'}
d5

{(1, 2): 'tupla'}

In [157]:
t2 = (2,4,7,2,2,2,2)

In [158]:
t2.count(2)

5

In [159]:
a = [1,2]

In [160]:
t = (a,a,a,a,a)
l = [a,a,a,a,a]

In [161]:
tupla_falsa = (1)
tupla_verdadeira = (1,)
print(type(tupla_falsa))
print(type(tupla_verdadeira))

<class 'int'>
<class 'tuple'>

Acessando cada elemento da tupla

In [162]:
x, y = 10, 19 #Relembrando como declarar as variáveis em uma linha
print(y)
print(x)

19
10

Empacotamento e desempacotamento de tuplas

In [163]:
x, y = 10, 19 #Relembrando como declarar as variáveis em uma linha
print(y)
print(x)

19
10

In [164]:
t = (2,3,4)
x,y,z = t
print(t)
print(x)
print(y)
print(z)

(2, 3, 4)
2
3
4

In [165]:
x, *y, z = (1,2,3,4)
print(x)
print(y)
print(z)

1
[2, 3]
4

In [168]:
# Troca de valores
print(x)
print(y)
x,y = y,x
print(x)
print(y)

[2, 3]
1
1
[2, 3]